{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Последние вакансии</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v={% now 'U' %}">
</head>
<body>
    <header>
        <h1>Analytics Everywhere</h1>
        <a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" alt="logo"></a>
    </header>
    <main>
    <nav>
        <a class="main-navigation" href="{% url 'index' %}">Главная страница</a>
        <a class="main-navigation" href="{% url 'general_stats' %}">Общая статистика</a>
        <a class="main-navigation" href="{% url 'relevance' %}">Востребованность</a>
        <a class="main-navigation" href="{% url 'geography' %}">География</a>
        <a class="main-navigation" href="{% url 'top_skills' %}">Навыки</a>
        <a class="main-navigation active" href="{% url 'last_vacancies' %}">Последние вакансии</a>
    </nav>
    <div class="content">
        {% if vacancies %}
             <ul>
                 {% for vacancy in vacancies %}
                 <li class="content-block">
                     <h2>{{ vacancy.name }}</h2>
                     <p><span class="emphasis">Компания:</span> {{ vacancy.company }}</p>
                     <p><span class="emphasis">Оклад:</span> {{ vacancy.salary }}</p>
                     <p><span class="emphasis">Регион:</span> {{ vacancy.area }}</p>
                     <p><span class="emphasis">Дата публикации:</span> {{ vacancy.published_at|date:"d.m.Y H:i" }}</p>
                     <p><span class="emphasis">Описание:</span> {{ vacancy.description|safe }}</p>
                     <p><span class="emphasis">Навыки:</span> {{ vacancy.skills }}</p>
                 </li>
                 {% endfor %}
             </ul>
             {% else %}
                 <p>Нет вакансий за последние 24 часа.</p>
        {% endif %}
    </div>

    </main>
    <footer>
        <a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" alt="logo"></a>
        <p>Автор: Горьков Владислав Дмитриевич. Академическая группа: РИ-230931</p>
    </footer>
</body>
</html>