body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  background-color: #a6c9db;
  padding: 0 20px;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    padding-left: 20px;
    flex-grow: 1;
    text-align: center;
}

h1 {
    margin-top:0;
}

header img {
    height: 70px;
}

body {
    display: flex;
    flex-direction: column;
}

nav {
    flex-basis: 20%;
    flex-shrink: 1;
    background-color: #dff4ff;
    padding: 20px;
}

nav a.main-navigation {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: black;
}

nav a.main-navigation:hover {
    text-decoration: underline;
    background-color: #c0cbd1;
}

.main-page-content {
    padding: 20px;
}

main {
    display: flex;
    flex-grow: 1;
    max-width: 1471px;
    margin: auto;
}

.emphasis {
    font-weight: bold;
    color: #1f3f6d;
}

.photo-text {
    margin:0;
    padding:0;
    display: flex;
    justify-content: space-between;
    gap:40px;
}

h2 {
    margin: 0;
    padding: 0;
}

ul {
    margin-bottom: 0;
}

.content-block {
    border: 3px solid #1f3f6d;
    padding:15px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.active {
    font-weight: bold;
    font-style: italic;
}

.photo-text img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.flex-box {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.content {
    padding:0;
    margin:0;
    padding: 20px;
    padding-right: 9px;
}

.one-part {
    width: 100%;
    max-width: 1195px;
    border: 3px solid #6d79ba;
    padding:15px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.page-mini-header {
    text-align: center;
    margin-bottom: 15px;
}

.photo img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

footer {
    display: flex;
    background-color: #a6c9db;
    padding: 10px 20px;
    margin-left: 0;
}

footer p {
    font-size: 1.25rem;
    margin-left: 20px;
    margin: auto;
}

footer img {
    margin:0;
    padding:0;
    height: 60px;
    padding-left:20px;
}

.table-container {
    max-height: 720px;
    overflow-y: auto;
    border: 1px solid #80a3b7;
    border-radius: 8px;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f0f4f8;
    display: flex;
    flex-direction: column;
}

.table table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 10px 15px;
    border-bottom: 1px solid #80a3b7;
    text-align: left;
}

.table th {
    background-color: #92b9d2;
    color: #fff;
    font-weight: bold;
}

.table tbody tr:nth-child(even) {
    background-color: #e5ebee;
}

.table tbody tr:hover {
    background-color: #d4e3ee;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }
    nav {
        flex-basis: 30%;
        padding: 10px;
    }
    .photo-text{
        flex-direction: column;
        gap: 10px;
    }
    .table-container {
      max-height: 400px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5rem;
    }
    nav {
        flex-basis: 50%;
        padding: 5px;
    }
    .photo-text{
         flex-direction: column;
         gap: 5px;
    }
    .table-container {
       max-height: 300px;
    }
}